{% extends "base.html" %}

{% block title %}About PDF Converter Free Online | Convertify{% endblock %}
{% block meta_description %}Convert Word to PDF online for free. Secure, fast and simple document conversion with Convertify.{% endblock %}

{% block content %}
<section class="tool-page">
    <h1>About    PDF Converter</h1>
    <p>Convert DOC or DOCX files into PDF format instantly.</p>

    <div class="tool-box">
        <input type="file">
        <button>Convert Now</button>
    </div>

    <h2>How to Convert Word to PDF</h2>
    <p>Select your Word file, click convert, and download your PDF.</p>
</section>
{% endblock %}